@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "./_mixin.scss";
@import "./_variables.scss";
@import "./_font.scss";

html {
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: pretendard;
    background: $sy-gray-01;
    box-sizing: border-box;
}

a {
    color: #206fd6;
    text-decoration: none;
    outline: none;

    &:hover {
        text-decoration: underline;
    }
}

.header {
    // padding: 0.8em 1.6em;
    display: flex;
    background: rgba($sy-white, 0.1);
    backdrop-filter: blur(30px);
    z-index: 100;
}

.pageHeader {
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.1);

    .left {
        padding: 0.4em 0;
        width: 420px;
        height: 40px;

        .img-logo {
            width: 200px;
            height: 100%;
            background-image: url(/src/images/logo/logo-02.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    .right {
        margin-left: 1.6em;
        display: flex;
        align-items: center;
        .list {
            display: flex;

            gap: 8px;
            a {
                @extend h4;
            }
        }
    }
}

.con-main {
    display: flex;
    height: 100%;

    .space-myInfo {
        position: fixed;
        overflow-y: overlay;
        max-width: 420px;
        width: 100%;
        background: $sy-white;
        height: calc(100%);

        .section:not(.profile) {
            margin-top: 16px;
        }

        &::-webkit-scrollbar {
            background: transparent;
            max-width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba($sy-gray-03, 0.75);
            border: 2px solid rgba($sy-white, 1);
            border-radius: 8px;
        }
    }

    .space-portfolio {
        position: absolute;
        left: 420px;
        width: calc(100% - 420px);
        height: 100%;
    }
}

.section {
    position: relative;
    padding-bottom: 1.6em;

    &::after {
        content: "";
        border-top: 1px solid $sy-gray-04;
        width: calc(100% - 4.8em);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }

    &-title {
        margin-left: 24px;
        margin-bottom: 8px;
    }

    &-wrap {
        padding: 0 1.6em;
        .left {
            color: $sy-gray-07;

            span {
                margin-right: 4px;
            }
        }

        .right {
            text-align: right;
            h5 {
                margin-bottom: 4px;
            }

            h6 {
                color: $sy-gray-05;
            }
        }

        .item {
            display: flex;
            justify-content: space-between;
            padding: 0.4em 0.8em;
            transition: 0.3s background;

            &:hover:not(.icon-tool) {
                background: rgba($sy-gray-03, 0.5);
            }
        }
    }

    &.profile {
        position: relative;
        margin-top: 80px;
        padding: 2.4em 0.8em;
        display: flex;
        flex-direction: column;
        align-items: center;

        .space-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: $sy-gray-05;
            overflow: hidden;

            .img-profile {
                width: 100%;
                height: 100%;
                background: url(/src/images/profile_img2.png) no-repeat center /
                    cover;
            }
        }
        .name {
            font-weight: 600;
            margin-top: 4px;
        }
        .desc {
            margin-top: 4px;
            @extend h5;
            font-weight: 300;
            text-align: center;

            strong {
                font-weight: 600;
            }
        }
    }

    &.link {
        .section-wrap {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .item {
            align-items: center;
        }
    }
    &.career {
        .section-wrap {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .item {
                position: relative;
                .left::after {
                    @extend h5;
                    content: "";
                    position: absolute;
                    height: calc(100% - 2.3em);
                    width: 1px;
                    background: $sy-gray-07;
                    left: 36px;
                }
            }
        }
    }
    &.tool {
        .section-wrap {
            display: flex;
            flex: 1 1 0;
            flex-wrap: wrap;
            gap: 8px;
        }

        .icon-tool {
            width: 32px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: $sy-gray-02;

            .img-icon {
                width: 26px;
                height: 26px;
            }
        }
    }
}

.con-project {
    padding: 80px 24px 24px 16px;
    height: calc(100% - 104px);
    position: relative;
}

// article project
.project {
    width: 100%;
    background: rgba($sy-gray-03, 0.75);
    margin-bottom: 16px;
    .space-img {
        // width: 100%;

        // border-radius: 24px;
        background: rgba($sy-gray-03, 0.75);
        --smooth-corners: 10;

        // --smooth-corners: 4;
        // border-radius: 50px;
        // mask-image: paint(smooth-corners);

        .thumbnail {
            // width: 100%;
            height: 100%;
        }
    }
}

.space-chart {
    position: absolute;
    @include absoluteCenter();
    z-index: 10;
}

@import "./_input.scss";

@media screen and (max-width: 1439px) {
    .con-project {
        grid-template-columns: 1fr;
    }
}
